<p id="notice"><%= notice %></p>

<h1>Mesas</h1>

<table>
  <thead>
    <tr>
      <th>Numero maximo votantes</th>
      <th>Recinto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mesas.each do |mesa| %>
      <tr>
        <td><%= mesa.numero_maximo_votantes %></td>
        <td><%= mesa.recinto %></td>
        <td><%= link_to 'Mostrar', mesa %></td>
        <td><%= link_to 'Editar', edit_mesa_path(mesa) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva mesa', new_mesa_path %>
