 

<h1>Mesas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre del encargado</th>
      <th>Cuenta de acceso:</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @mesas.each do |mesa| %>
      <tr>
        <td><%= mesa.nombre_encargado %></td>
        <td>
          <% if mesa.encargado != nil %>
            <strong>Cuenta: </strong><%=mesa.encargado.email%><br>
            <strong>Contraseña: </strong><%=mesa.encargado.password_reset%>
          <%else%>
            Aun no se genero una cuenta.
          <%end%>
        </td>
        <td><a href="/mesas/<%=mesa.id%>">Ver</a> | <a href="/mesas/generar_cuenta/<%=mesa.id%>">Generar o reiniciar cuenta</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva mesa', new_mesa_path %><br>