 

<h1>Recintos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Nombre</th>
      <th>Pertenece al sector:</th>
      <th>Pertenece al departamento:</th>
      <th>El encargado es:</th>
    </tr>
  </thead>

  <tbody>
    <% @recintos.each do |recinto| %>
      <tr>
        <td><%= recinto.id %></td>
        <td><%= recinto.nombre %></td>
        <td><%= recinto.sector.nombre %></td>
        <td><%= recinto.sector.departamento.nombre %></td>
        <td><%= recinto.nombre_encargado %></td>
      </tr>
    <% end %>
  </tbody>
</table>



