 

<p>
  <strong>Nombre:</strong>
  <%= @recinto.nombre %>
</p>

<p>
  <strong>Nombre del encargado:</strong>
  <%= @recinto.nombre_encargado %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @recinto.sector %>
</p>

<%= link_to 'Editar', edit_recinto_path(@recinto) %> |
<a href="/sector/recintos/<%=@recinto.sector_id%>">Atras</a>
