 

<p>
  <strong>Nombre:</strong>
  <%= @sector.nombre %>
</p>

<p>
  <strong>Numero maximo votantes:</strong>
  <%= @sector.numero_maximo_votantes %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @sector.departamento %>
</p>

<%= link_to 'Editar', edit_sector_path(@sector) %> | 
<a href="/departamento/sectores/<%=@sector.departamento_id%>">Atras</a>
