<%= form_with(model: votacion, local: true) do |form| %>
  <% if votacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(votacion.errors.count, "error") %> prohibited this votacion from being saved:</h2>

      <ul>
      <% votacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :razon %>
    <%= form.text_area :razon, id: :votacion_razon, rows: 15, :class=>"form-control" %>
  </div>

  <div class="form-group col-lg-6">
    <%= form.label :inicio %>
    <%= form.datetime_select :inicio, id: :votacion_inicio, :class=>"form-control" %>
  </div>

  <div class="form-group col-lg-6">
    <%= form.label :finalizacion %>
    <%= form.datetime_select :finalizacion, id: :votacion_finalizacion , :class=>"form-control"%>
  </div>

  <div class="form-group col-lg-3">
    <%= form.label :numero_maximo_de_votantes %>
    <%= form.number_field :numero_maximo_votantes, id: :votacion_numero_maximo_votantes, :class=>"form-control" %>
  </div>

  <div class="form-group col-lg-3">
    <%= form.label :tiempo_maximo_de_voto_en_segundos %>
    <%= form.number_field :tiempo_maximo_votos, id: :votacion_tiempo_maximo_votos, :class=>"form-control" %>
  </div>


  <div class="form-group col-lg-3">
    <%= form.label :cantidad_de_balotas %>
    <%= form.number_field :balotas, id: :votacion_balotas, :class=>"form-control" %>
  </div>
    <%= form.submit "Crear votación", :class=> "btn btn-success" %>
<% end %>
