<h2>Acciones</h2>
<% if @votacion %>
	<% if current_usuario.rol == "Encargado de votacion"%>
		<a href="/departamentos" > Configuración de departamentos</a><br>
		<a href="/partidos" > Configuración de partidos</a><br>
		<a href="/opcions" > Configuración de opciones de voto</a><br>
		<a href="/visualizar_papeleta" target="_blank"> Visualizar papeleta de voto</a><br>
	<% end %>
	<% if current_usuario.rol == "Encargado de departamento"%>
		Usted es el encargado del departamento de <%=@departamento.nombre %><br>
		<a href="/departamento/sectores/<%=@departamento.id %>" > Sectores para tu departamento</a>
	<% end %>
	<% if current_usuario.rol == "Encargado de sector"%>
		Usted es el encargado del sector <%=@sector.nombre %><br>
		<a href="/sector/recintos/<%=@sector.id %>" > Recintos para tu sector</a>
	<% end %>
	<% if current_usuario.rol == "Encargado de recinto"%>
		Usted es el encargado del recinto <%=@recinto.nombre %><br>
		<a href="/recinto/mesas/<%=@recinto.id %>" > Mesas para tu recinto</a>
	<% end %>
	<% if current_usuario.rol == "Encargado de mesa"%>
		Usted es el encargado de la mesa con id <%=@mesa.id %><br>
		<% if @mesa.estado == "esperando" %>
			<% if !@mesa.terminal_habilitada %>
				<%= form_tag("/habilitar_terminal", method: "post") do %>
				  <%= label_tag(:direccion, "Direccion:") %>
				  <%= text_field_tag(:direccion) %>
				  <%= submit_tag("Habilitar terminal") %>
				<% end %>
			<% else %>
				<a href="/habilitar_papeleta" >Habilitar papeleta virtual en mesa <%=@mesa.id%></a>
			<% end %>
		<% else %>
			Hay una votacion en curso en mesa <%=@mesa.id%>
		<% end %>
	<% end %>
<% end %>