  <h2 class=>Información de la votación</h2>

  <strong>Votacion en etapa:</strong> 
  <%= @votacion.etapa%><br><br>

  <strong>Razon:</strong>
  <%= @votacion.razon %><br><br>


  <strong>Inicio:</strong>
  <%= @votacion.inicio %><br><br>



  <strong>Finalizacion:</strong>
  <%= @votacion.finalizacion %><br><br>


  <strong>Numero maximo votantes:</strong>
  <%= @votacion.numero_maximo_votantes %><br><br>

  <strong>Cantidad de balotas:</strong>
  <%= @votacion.balotas %><br><br>

  <input value="<%=current_usuario.id.to_s%>" id="user_id" hidden>


