<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @opcion.nombre %>
</p>

<p>
  <strong>Direccion en la Blockchain:</strong>
  <%= @opcion.direccion %>
</p>

<p>
  <strong>Información:</strong>
  <%= @opcion.informacion %>
</p>


<p>
  <strong>Partido:</strong><br>
  <a href="/partidos/<%= @opcion.partido.id %>"><%= @opcion.partido.nombre %></a>
</p>

<%= link_to 'Editar', edit_opcion_path(@opcion) %> |
<%= link_to 'Atras', opcions_path %>
